.cProducto {
    float: right;
}

.baBuscar {
    display: inline;
}

.form-inlines {
    padding: 0px 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.form-inlines .cBuscar {
    display: inline;
}

.FormularioProducto {
    width: 65%;
    margin: auto;
    background-color: #eeeeee;
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}



.ContenedorDP{
    width: 100%;
}

.FormularioProducto h2{
    margin-bottom: 20px;
}

 .ContenedorDP >.col {
    margin: 10px;
}

.FormularioProducto col{
    padding: 0%;
}

.btn-outline-registro {
    color: #0a0a0a;
    background-color: transparent;
    background-image: none;
    border-width: 1px!important;
    border-color: #E74236!important
}

.btn-outline-registro:hover {
    color: #222;
    background-color: #E74236;
    border-color: rgb(0, 0, 0);
    color: white
}

hr {
    background-color: #E74236;
}

.form-DatosP {
    width: 100%;
    margin: 10px 0px;

}

.btnImg{
    margin: auto;
    width: 100%;
    padding: 10px 0px;
}

.contenedor-todos-productos {
    width: 90%;
    margin: auto;
    background-color: #eeeeee;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-bottom: 20px;
}

.contenedor-todos-productos p {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin: auto;
    padding: 10px;
}

.contenedor-todos-productos th, td {
    margin: auto;
    text-align: center;
}

.tNuevoProducto {
    width: 95%;
    margin: auto;
}

.circulo {
    width: 17px;
    height: 17px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border-color: #3f3f3f;
    border-style: solid;
    border-width: 1px;
    background: #0ba913;
    margin: auto;
}

.conEstado {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-izquierda, .icon-centro, .icon-derecha {
    display: inline;
    margin: 5px 0px 5px 0px;
}

.icon-izquierda a, .icon-centro a, .icon-derecha a {
    color: #E74236;
}

.icon-izquierda a:hover, .icon-centro a:hover, .icon-derecha a:hover {
    color: #0ba913;
    margin: 5px 0px 5px 0px;
}

.iconoPosicion {
    margin: 0px 5px 0px 5px;
}