/* Subtítulo */

.encabezado {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eeeeee;
    margin-top: 45px;
    margin-bottom: 25px;
}

.pantalla{
    margin-bottom: 25px;
}

.encabezado h1 {
    padding-top: 8px;
    padding-bottom: 2px;
    padding-left: 15px;
    text-align: center;
    
}

.icon {
    font-size: 35px;
    text-align: center;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

/* Sección del filtrado */

/* Título Filtro */

.titulo_1 h4 {
    margin-left: 5%;
    text-decoration: none;
    margin-top: 75px;
    color: black;
    font-size: large;
    text-align: center!important;
}

/* Títulos: color, talla, refinar por, ordenar */

.titulo h4 {
    margin-left: 5%;
    text-align: none;
    margin-top: 30px;
    color: black;
    font-size: small;
    text-align: center !important;
}

/* Formato de las casillas del check box */

.form {
    display: block;
    margin-left: 10%;
    width: 100%;
    padding-left: 10px;
}

/* Formato de la selección del orden */

.orden {
    display: block;
    margin-left: 1%;
    width: 80%;
    padding-left: 10px;
}

/* Formato de la selección de la talla */

.talla {
    display: block;
    margin-left: 1%;
    width: 80%;
    padding-left: 10px;
}

/* Formato de la selección del color */

.color {
    display: block;
    margin-left: 1%;
    width: 80%;
    padding-left: 10px;
}

/* NUEVO CSS Prueba producots */
.wrap{
    width: 95%;
    margin: auto;
}

.store-wrapper{
    display: flex;
    flex-wrap: wrap;
}

.category_list{
    display: flex;
    flex-direction: column;
    width: 15%;
}

.category_list .category_item{
    display: block;
    width: 90%;
    padding: 15px 0;
    margin-bottom: 20px;
    background: #363636;
    text-align: center;
    text-decoration: none;
    color: #fff;
}

.category_list .ct_item-active{
    background: #f44336;
}

.products-list{
	width: 82%;
	display: flex;
	flex-wrap: wrap;
}

.products-list .product-item{
	width: 22%;
	margin-left: 3%;
	margin-bottom: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	align-self: flex-start;
	transition: all .4s;
}

.products-list .product-item img{
	width: 100%;
	height: 140px;
}

.products-list .product-item a{
	display: block;
	width: 100%;
	text-align: center;
	text-decoration: none;
}
.contenedorindividual{
    padding-top: 15px;
    padding-bottom: 15px;
}

.contenedorindividual h4 {
    width: 100%;
    margin: auto;
    font-size: medium;
    text-align: center;
    color: black;
}
.contenedorindividual p{
    width: 100%;
    margin: auto;
    font-size: medium;
    text-align: center;
    color: black;

}
.contenedorindividual:hover {
    width: 100%;
    border-radius: 3px;
    border-style: solid;
    border-width: 0.0001px;
    border-color: black;
}