{% extends 'index.html' %}
{% block head %}
    <title>New Balance | Administrador</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/administrador.css') }}">
    <script src="{{ url_for ('static', filename='Js/administrador.js') }}"></script>
    {% if block %}
        {% if block== "T" %}
            <script> document.getElementById("icon_block").innerHTML = "lock_open"; </script>
        {% endif %}
        {% if block== "F" %}
            <script> document.getElementById("icon_block").innerHTML = "lock";</script>
        {% endif %}
    {% endif %}
{% endblock %}

{% block contenido %}
    <div class="titulo-gestionar-usuario">
        <span class="material-icons-outlined md-40">account_circle</span>
        <h1 style="text-align: center;">USUARIOS</h1>
    </div>
    {% if formBuscar %}
    <div style="width:65%; margin:auto;">
        <form action="{{ url_for('buscar_usuario') }}" method="POST" class="form-inline">
            {{ formBuscar.hidden_tag() }}
            <!-- <input style="width: 91%;" class="form-control " type="submit" placeholder="Buscar usuario" aria-label="Search"> -->
            {{ formBuscar.buscar(style="width: 90%;", class="form-control ", placeholder="Buscar usuario") }}
            <button class="btn btn-outline-one" style="width: 10%;" type="submit">Buscar</button>
        </form>
    </div>
    {% endif %}
    {% if mensaje %}
        <h2 style="text-align: center; color: #058714; margin-top: 10px">{{ mensaje }}</h2>
    {% endif %}
    {% if error %}
        <h2 style="text-align: center; color: #970c02; margin-top: 10px">{{ error }}</h2>
    {% endif %}
    {% if form %}
        <div class="ContenedorFomulario">
            <form class="FormularioRegistro"
            {% if usuario %}
                action="{{ url_for('edit_usuario', documento = usuario.documento) }}"
            {% else %}
                action="{{ url_for('crear_usuario') }}"
            {% endif %}
            method="POST">
                {{ form.hidden_tag() }}
                <div>
                    <h1 style="text-align: center;">Usuario</h1>
                    <div>
                        <div class="ContenedorDP">
                            <h4>Datos del usuario</h4>
                            <hr>
                            <div class="row">
                                <div class="col">
                                    {{ form.nombre(type="text", class="form-control mr-sm-1 form-DatosP", placeholder="Nombre") }}
                                </div>
                                <div class="col">
                                    {{ form.apellidos(type="text", class="form-DatosP form-control mr-sm-1", placeholder="Apellidos") }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    {% if opcion %}
                                        {% if opcion == "Editar" %}
                                        {{ form.documento(type="text", class="form-DatosP form-control mr-sm-1", placeholder="CC/CE/NIT", disabled=True) }}
                                        {% else %}
                                            {{ form.documento(type="text", class="form-DatosP form-control mr-sm-1", placeholder="CC/CE/NIT") }}
                                        {% endif %}
                                    {%else %}
                                        {{ form.documento(type="text", class="form-DatosP form-control mr-sm-1", placeholder="CC/CE/NIT") }}
                                    {% endif %}
                                </div>
                                <div class="col">
                                    <div style="margin-top: 6px;">
                                        <div class="form-check form-check-inline">
                                            <strong>Sexo:</strong>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            {% if usuario %}
                                                {% if usuario.sexo == "M" %}
                                                    {{ form.sexo(class="form-check-input", type="radio", id="inlineRadio1", value="M", checked="true")}}
                                                {% else %}
                                                    {{ form.sexo(class="form-check-input", type="radio", id="inlineRadio1", value="M")}}
                                                {% endif %}
                                            {% else %}
                                                {{ form.sexo(class="form-check-input", type="radio", id="inlineRadio1", value="M")}}
                                            {% endif %}
                                            <label class="form-check-label" for="inlineRadio1">Masculino</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            {% if usuario %}
                                                {% if usuario.sexo == "F" %}
                                                    {{ form.sexo(class="form-check-input", type="radio", id="inlineRadio1", value="F", checked="true")}}
                                                {% else %}
                                                    {{ form.sexo(class="form-check-input", type="radio", id="inlineRadio1", value="F")}}
                                                {% endif %}
                                            {% else %}
                                                {{ form.sexo(class="form-check-input", type="radio", id="inlineRadio1", value="F")}}
                                            {% endif %}
                                            <label class="form-check-label" for="inlineRadio2">Femenino</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                        {% if usuario %}
                                                {% if usuario.sexo == "O" %}
                                                    {{ form.sexo(class="form-check-input", type="radio", id="inlineRadio1", value="O", checked="true")}}
                                                {% else %}
                                                    {{ form.sexo(class="form-check-input", type="radio", id="inlineRadio1", value="O")}}
                                            {% endif %}
                                        {% else %}
                                            {{ form.sexo(class="form-check-input", type="radio", id="inlineRadio1", value="O")}}
                                        {% endif %}
                                            <label class="form-check-label" for="inlineRadio2">Otro</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    {{ form.nickname(type="text", class="form-DatosP form-control mr-sm-1", placeholder="Nickname") }}
                                </div>
                                <div class="col">
                                    {{ form.telefono(type="text", class="form-DatosP form-control mr-sm-1", placeholder="Teléfono celular") }}
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    {{ form.correo(type="email",class="form-DatosP form-control mr-sm-1", placeholder="Correo") }}
                                </div>
                                <div class="col">
                                    {{ form.pais(class="form-DatosP form-control mr-sm-1", placeholder="País") }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    {{ form.departamento( class="form-DatosP form-control mr-sm-1", placeholder="Departamento") }}
                                </div>
                                <div class="col">
                                    {{ form.ciudad(class="form-DatosP form-control mr-sm-1", placeholder="Ciudad") }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    {{ form.direccion(class="form-DatosP form-control mr-sm-1", placeholder="Dirección") }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    {{ form.contrasena(type="password",class="form-DatosP form-control mr-sm-1", placeholder="Contraseña", id="contrasena") }}
                                </div>
                                <div class="col">
                                    {{ form.confirmarcontrasena(type="password",class="form-DatosP form-control mr-sm-1", placeholder="Confirmar contraseña", id="confirmarContrasena") }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <input type="checkbox" onclick="mostrarContrasena()"> Mostrar contraseña
                                </div>
                                {% if opcion %}
                                    {% if opcion == "Editar" %}
                                        <div class="col">
                                            <p style="color: #970c02;">Para editar el documento contacte a soporte</p>
                                        </div>
                                    {% endif %}
                                {% endif %}
                            </div>
                            <div class="row">
                                <input style="margin: auto;" type="submit" id="registrarse" class="btn btn-outline-registro"value="{{opcion}}">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    {% endif %}

    {% if lista_usuarios %}
            <div class="contenedor-todos-usuarios">
                    <div  class="titulo-boton-usuarios">
                        <h2 style="display: inline; float:left;">Todos los usuarios</h2>
                        <a href="{{ url_for('crear_usuario') }}" style="text-decoration: none;" >
                            <button class="btn btn-outline-one" style="display: inline; float:right;">Crear nuevo usuario</button>
                        </a>
                    </div>
                    <table class="table table-striped table-hover nuevo-usuario">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Estado</th>
                            <th scope="col">Nickname</th>
                            <th scope="col">correo</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for item in lista_usuarios %}
                        <tr>
                            <th scope="row">
                                {{ loop.index }}
                            </th>
                            <td class="conEstado">
                                    {% if item.estado == 'T' %}
                                    <div class="circulo-green"></div>
                                    {% endif %}
                                    {% if item.estado == 'F' %}
                                    <div class="circulo-red"></div>
                                    {% endif %}
                            </td>
                            <td>{{ item.nickname}}</td>
                            <td>{{ item.correo }}</td>
                            <td>
                                <div class="icon-derecha">
                                    <a  href="{{ url_for('edit_usuario', documento = item.documento) }} ">
                                        <span class="material-icons-outlined iconoPosicion"  >edit</span>
                                    </a>
                                </div>
                                <div class="icon-centro">
                                    <a href="{{ url_for('block_usuario', documento = item.documento, estado = item.estado) }}">
                                        <span class="material-icons-outlined iconoPosicion" id="icon_block">
                                            <!-- si el usuario esta o no bloqueado muestra el candado abierto o cerrado -->
                                            {% if item.estado == 'F' %}
                                                lock_open
                                            {% endif %}
                                            {% if item.estado == 'T' %}
                                                lock
                                            {% endif %}
                                        </span>
                                    </a>
                                </div>
                                <div class="icon-izquierda">
                                    <a href="{{ url_for('delete_usuario', documento = item.documento) }}">
                                        <span class="material-icons-outlined iconoPosicion">cancel</span>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
    {% endif %}
{% endblock %}