{% extends 'index.html' %}
{% block head %}
<title>New Balance | Gestion Productos</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/gestion_de_productos.css') }}">
{% endblock %}

{% block contenido %}
<div class="baPrincipal">
    <span class="material-icons-outlined iconBarra">inventory</span>
    <h1 style="text-align: center;" class="">GESTION DE PRODUCTOS</h1>
</div>
<form class="form-inline baProducto" style=" width: 100%; margin: auto;">
    <input style="width: 60%; margin-left: 17%;" class="form-control mr-sm-2" type="search"
        placeholder="Buscar producto" aria-label="Search">
    <button class="btn btn-outline-one my-2 my-sm-0" submit>Buscar</button>
</form>
<div class="ContenedorFomulario">
    <form class="FormularioProducto">
        <div>
            <h2 style="text-align: center;">Editar producto</h2>
            <div>
                <div class="ContenedorDP">
                    <h4>Datos del producto</h4>
                    <hr>
                    <div class="row">
                        <div class="col">
                            <input type="text" class="form-DatosP" placeholder="Nombre del producto" required>
                        </div>
                        <div class="col">
                            <input type="text" class="form-DatosP" placeholder="Referencia" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <input type="number" class="form-DatosP" placeholder="Talla" required>
                        </div>

                        <div class="col">
                            <input type="number" class="form-DatosP" placeholder="Precio" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <input type="number" class="form-DatosP" placeholder="Stock" required>
                        </div>
                        <div class="col">
                            <input type="number" class="form-DatosP" placeholder="Descuento comercial" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <input type="text" class="form-DatosP" placeholder="Color" required>
                        </div>
                        <div class="col">
                            <input type="file" class="btnImg" value="Cargar imagen" required>
                        </div>
                    </div>
                    <div class="row">
                        <input style="margin: auto;" type="submit" id="registrarse" class="btn btn-outline-registro"
                            value="Agregar">
                    </div>
                </div>
            </div>
    </form>
</div>

<div class="contenedor-todos-productos">
    <p>TODOS LOS PRODUCTOS</p>
    <button style="margin-left: 8px;" class="cProducto btn btn-outline-one" type="submit">Crear nuevo producto</button>
    <table class="table table-striped table-hover tNuevoProducto">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Estado</th>
                <th scope="col">Nombre/Producto</th>
                <th scope="col">Referencia</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Talla</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td class="conEstado">
                    <div class="circulo"></div>
                </td>
                <td>Men'500</td>
                <td>GM500TM1</td>
                <td>11</td>
                <td>8.5</td>
                <td>
                    <div class="">
                        <div class="icon-derecha">
                            <a href="#"><span class="material-icons-outlined iconoPosicion">edit</span></a>
                        </div>
                        <div class="icon-centro">
                            <a href="#"><span class="material-icons-outlined iconoPosicion">lock_open</span></a>
                        </div>
                        <div class="icon-izquierda">
                            <a href="#"><span class="material-icons-outlined iconoPosicion">cancel</span></a>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td class="conEstado">
                    <div class="circulo"></div>
                </td>
                <td>Men'500</td>
                <td>GM500TM1</td>
                <td>11</td>
                <td>8.5</td>
                <td>
                    <div class="">
                        <div class="icon-derecha">
                            <a href="#"><span class="material-icons-outlined iconoPosicion">edit</span></a>
                        </div>
                        <div class="icon-centro">
                            <a href="#"><span class="material-icons-outlined iconoPosicion">lock_open</span></a>
                        </div>
                        <div class="icon-izquierda">
                            <a href="#"><span class="material-icons-outlined iconoPosicion">cancel</span></a>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

{% endblock %}