{% extends 'template.html' %}

{% block head %}
<title>New Balance | Mi Cuenta</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/gestion_micuenta.css') }}">
<script src="{{ url_for ('static', filename='Js/contrasena.js') }}"></script>
{% endblock %}

{% block contenido %}

<div class="ContenedorPrincipal">

    <div class="subtitulo">
        <span class="material-icons-outlined iconoSubtitulo">account_circle</span>
        <h1 class="subtituloTexto">DATOS DE MI CUENTA</h1>
    </div>


    <!-- <div class="ContenedorPedidos">
        <div class="SubtituloPedidos">
            <span class="material-icons-outlined Icono">watch_later</span>
            <h2 class="SubtituloTexto2">Pedidos</h2>
        </div>
        <div class="ListaPedidos"></div>
    </div> -->

    <div class="ContenedorMiCuenta">
        <div class="SubtituloMiCuenta">
            <span class="material-icons-outlined Icono">person</span>
            <h2 class="SubtituloTexto2">Mi cuenta</h2>
        </div>

        {% if mensaje %}
            <h2 style="text-align: center; color: #058714; margin-top: 10px">{{ mensaje }}</h2>
        {% endif %}
        {% if error %}
            <h2 style="text-align: center; color: #970c02; margin-top: 10px">{{ error }}</h2>
        {% endif %}

        {% if form %}
        <form class="FormularioMiCuenta" 
        {% if datoUsuario %}
            action="{{ url_for('gestion_micuenta', documento = datosUsuario.documento) }}"
        {% else %}
        action="{{ url_for('gestion_micuenta', documento = documento) }}"
        {% endif %}    
        method="POST">
            {{ form.hidden_tag() }}
            <div class="ContenedorForm">
                <h4 class="SubtituloTexto3">Datos personales</h4>
                <hr>
                <div class="row">
                    <div class="col">
                        {{form.nombre(class="inputform form-control mr-sm-1", placeholder="Nombre")}}
                    </div>
                    <div class="col">
                        {{form.apellidos(class="inputform form-control mr-sm-1", placeholder="Apellidos")}}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {{form.documento(class="inputform form-control mr-sm-1", placeholder="CC/CE/NIT")}}
                    </div>
                    <div class="col">
                        {{form.nickname(class="inputform form-control mr-sm-1", placeholder="Nickname")}}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {{form.telefono(class="inputform form-control mr-sm-1", type="number", placeholder="Télefono")}}
                    </div>
                    <div class="col" >
                        {{form.correo(class="inputform form-control mr-sm-1", type="email", placeholder="Correo",readonly="")}}
                    </div>
                </div>
                <div class="row">
                    <div class="col" style="margin-left:35%;">
                        <div class="form-check form-check-inline">
                            {% if datosUsuario %}
                                        {% if datosUsuario.sexo == "M" %}
                                            {{ form.sexo(class="form-check-input", type="radio", value="M", checked="true")}}
                                        {% else %}
                                            {{ form.sexo(class="form-check-input", type="radio", value="M")}}
                                        {% endif %}
                                    {% else %}
                                        {{ form.sexo(class="form-check-input", type="radio", value="M")}}
                            {% endif %}
                            <label class="form-check-label" for="inlineRadio1">Masculino</label>
                        </div>
                        <div class="form-check form-check-inline">
                            {% if datosUsuario %}
                                        {% if datosUsuario.sexo == "F" %}
                                            {{ form.sexo(class="form-check-input", type="radio", value="F", checked="true")}}
                                        {% else %}
                                            {{ form.sexo(class="form-check-input", type="radio", value="F")}}
                                        {% endif %}
                                    {% else %}
                                        {{ form.sexo(class="form-check-input", type="radio", value="F")}}
                            {% endif %}
                            <label class="form-check-label" for="inlineRadio2">Femenino</label>
                        </div>
                        <div class="form-check form-check-inline">
                            {% if datosUsuario %}
                                        {% if datosUsuario.sexo == "O" %}
                                            {{ form.sexo(class="form-check-input", type="radio", value="O", checked="true")}}
                                        {% else %}
                                            {{ form.sexo(class="form-check-input", type="radio", value="O")}}
                                        {% endif %}
                                    {% else %}
                                        {{ form.sexo(class="form-check-input", type="radio", value="O")}}
                            {% endif %}
                            <label class="form-check-label" for="inlineRadio3">Otro</label>
                        </div>
                    </div>
                </div>
            </div>


            <div class="ContenedorForm">
                <h4 class="SubtituloTexto3">Detalles de la dirección de entrega</h4>
                <hr>
                <div class="row">
                    <div class="col">
                        {{form.pais(class="inputform form-control mr-sm-1", placeholder="País")}}
                    </div>
                    <div class="col">
                        {{form.departamento(class="inputform form-control mr-sm-1", placeholder="Departamento")}}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {{form.ciudad(class="inputform form-control mr-sm-1", placeholder="Ciudad")}}
                    </div>
                    <div class="col">
                        {{form.direccion(class="inputform form-control mr-sm-1", placeholder="Dirección")}}
                    </div>
                </div>
            </div>

            <div class="ContenedorForm">
                <h4 class="SubtituloTexto3">Actualización contraseña</h4>
                <hr>
                <div class="row">
                    <div class="col">
                        {{form.contrasena(type="password", class="inputform form-control mr-sm-1 ContrasenaActual", placeholder="Contraseña actual (requerida para realizar los cambios)", id="contrasena")}}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {{form.contrasenaNueva(type="password", class="inputform form-control mr-sm-1", placeholder="Nueva contraseña (opcional)", id="contrasenaNueva")}}
                    </div>
                    <div class="col">
                        {{form.confirmarContrasenaNueva(type="password", class="inputform form-control mr-sm-1", placeholder="Confirmar contraseña (opcional)", id="confirmarContrasena")}}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <input type="checkbox" onclick="mostrarContrasena()"> Mostrar contraseña
                    </div>
                    <p></p>                   
                </div>
                <div class>
                    {{form.guardarCambios(class="btn btn-primary btn-miCuenta")}}
                </div>
            </div>
        </form>
        {% endif %}
    </div>
</div>


{% endblock %}