<!-- Se hace la herencia desde el archivo template.html -->
{% extends 'template.html' %}
<!-- Se hereda el head de template.html -->
{% block head %}
<title>New Balance | Hombre</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/productos_hombre.css') }}">
<!-- Finaliza el bloque head -->
{% endblock %}

<!-- Se hereda el bloque contenido -->
{% block contenido %}

<!-- Header para el subtítulo -->

<div class="row encabezado">
    <span class="material-icons-outlined icon">
        storefront
    </span>
    <h1 class="subtituloTexto"> ZAPATOS PARA HOMBRE</h1>
</div>

<!-- Se agrega el cuerpo de la pantalla -->
<!-- wrap es propiedad para "mejorar" el contenedor -->
<div class="wrap">
    <div class="store-wrapper">
        <div class="category_list">
        <h4>FILTROS</h4>
        <h4>ORDENAR</h4>
        <select class="form-control mb-1">
            <option selected>Más populares</option>
            <option value="1">Más recientes</option>
            <option value="2">Alfabético A-Z</option>
            <option value="3">Alfabético Z-A</option>
            <option value="4">Menor precio</option>
            <option value="5">Mayor precio</option>
        </select>
        <h4>REFINAR POR</h4>
        <div class="form-check form">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                Con descuento
            </label>
        </div>
        <!-- Filtro de talla -->
        <h4>TALLA</h4>
        <select class="form-control mb-1 ">
            <option selected>Seleccionar talla</option>
            <option value="1">37</option>
            <option value="2">37 ½</option>
            <option value="3">38</option>
            <option value="4">38 ½</option>
            <option value="5">39</option>
            <option value="6">39 ½</option>
            <option value="7">40</option>
            <option value="8">40 ½</option>
            <option value="9">41</option>
            <option value="10">41 ½</option>
            <option value="11">42</option>
            <option value="12">42 ½</option>
        </select>
        <!-- Filtro de color -->
        <h4>COLOR</h4>
        <select class="form-control mb-1">
            <option selected>Seleccionar color</option>
            <option value="1">Negro</option>
            <option value="2">Naranja</option>
            <option value="3">Amarillo</option>
            <option value="4">Azul</option>
            <option value="5">Rojo</option>
            <option value="6">Café</option>
            <option value="7">Gris</option>
            <option value="8">Rosa</option>
            <option value="9">Verde</option>
            <option value="10">Blanco</option>
            <option value="11">Multicolor</option>
        </select>
    <!--Todos los productos  -->
    </div>
        {% if lista_productos_totales %}
            <section class="products-list">
                {% for item in lista_productos_totales %}
                <div class="product-item">
                    <div class="contenedorindividual">
                        <a href="{{url_for('productoind', referencia=item.referencia)}}">
                            <img src="{{ url_for('static', filename='imagenes/lista_de_productos/'+item['referencia']+'.jpg') }}"
                                alt="producto_{{item.referencia}}">
                            <h4>{{ item.nombre }}</h4>
                            <p>$ {{ item.precio }}</p>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </section>
        {% endif %}
    </div>
</div>




<!-- Finaliza el bloque -->
{% endblock %}