<!-- Se hace la herencia desde el archivo template.html -->
{% extends 'template.html' %}
<!-- Se hereda el head de template.html -->
{% block head %}
<title>New Balance | {{ sexo }}</title>
<!-- CSS -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/productos.css') }}">

<!-- Finaliza el bloque head -->
{% endblock %}

<!-- Se hereda el bloque contenido -->
{% block contenido %}

<!-- Header para el subtítulo -->

<div class="row encabezado">
    <span class="material-icons-outlined icon">
        storefront
    </span>
    <h1 class="subtituloTexto"> ZAPATOS PARA {{ sexo }}</h1>
</div>

{% if mensaje %}
<h2 style="text-align: center; color: #058714; margin-top: 10px">{{ mensaje }}</h2>
{% endif %}
<!-- Mensaje de error en el caso de que no encuentre los filtros requeridos -->
{% if error %}
<h5 style="text-align: center; color: #970c02; margin-top: 10px; padding-left: 15px;">{{ error }}</h5>
{% endif %}

<!-- Se agrega el cuerpo de la pantalla -->
<!-- wrap es propiedad para "mejorar" el contenedor -->
<div class="wrap">
    <div class="store-wrapper">
        <div class="category_list titulos">

            <form action="{{ url_for('filtros_producto', sexo=sexo) }}" method="POST">
                {{ filtro.hidden_tag() }}
                {% if filtro %}
                <!-- Ordenar por precio -->
                <h4>ORDEN</h4>
                {{ filtro.orden(class="form-control mb-1 casillas") }}

                <!-- Ordenar por talla -->
                <h4>FILTRAR POR TALLA</h4>
                {{ filtro.talla(class="form-control mb-1 casillas") }}

                <!-- Ordenar por color -->
                <h4>FILTRAR POR COLOR</h4>
                {{ filtro.color(class="form-control mb-1 casillas") }}

                {% endif %}

                <button class="btn btn-outline-one my-2 my-sm-0 boton_filtrar" type="submit">Filtrar</button>
            </form>

            <!--Todos los productos  -->
        </div>
        {% if lista_productos_totales %}
        <section class="products-list productos">
            {% for item in lista_productos_totales %}
            <div class="product-item ">
                <div class="contenedorindividual">
                    <a href="{{url_for('productoind', referencia=item.referencia)}}">
                        <img src="{{ url_for('static', filename='imagenes/lista_de_productos/'+item['referencia']+'.jpg') }}" alt="producto_{{item.referencia}}">
                        <h4>{{ item.nombre }}</h4>
                        <p>$ {{ item.precio }}</p>
                    </a>
                </div>
            </div>
            {% endfor %}
        </section>
        {% endif %}

    </div>
</div>

<!-- Finaliza el bloque -->
{% endblock %}