{% extends 'template.html' %}

{% block head %}
<title>Registro</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/registro.css') }}">
{% endblock %}

{% block contenido %}
<div class="ContenedorFomulario">
    <form class="FormularioRegistro">
        <div>
            <h1 style="text-align: center;">Registro de nuevo usuario</h1>
            <div>
                <div class="ContenedorDP">
                    <h4>Datos personales</h4>
                    <hr>
                    <div class="row">
                        <div class="col">
                            <input type="text" class="form-DatosP form-control mr-sm-1" placeholder="Nombre" required>
                        </div>
                        <div class="col">
                            <input type="text" class="form-DatosP form-control mr-sm-1" placeholder="Apellido" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <input type="email" class="form-DatosP form-control mr-sm-1" placeholder="Correo" required>
                        </div>
                        <div class="col" style="margin-top: 5px;">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                                    value="option1">
                                <label class="form-check-label" for="inlineRadio1">Hombre</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                                    value="option2">
                                <label class="form-check-label" for="inlineRadio2">Mujer</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                                    value="option2">
                                <label class="form-check-label" for="inlineRadio2">Otro</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <input type="number" class="form-DatosP form-control mr-sm-1" placeholder="CC/CE/NIT" required>
                        </div>
                        <div class="col">
                            <input type="number" class="form-DatosP form-control mr-sm-1" placeholder="Telefono celular" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <input type="password" class="form-DatosP form-control mr-sm-1" placeholder="Contraseña" required>
                        </div>
                        <div class="col">
                            <input type="password" class="form-DatosP form-control mr-sm-1" placeholder="Confirmar contraseña" required>
                        </div>
                    </div>
                    <h4>Detalles de dirección de entrega</h4>
                    <hr>
                    <div class="row">
                        <div class="col">
                            <input type="text" class="form-DatosP form-control mr-sm-1" placeholder="País" required>
                        </div>
                        <div class="col">
                            <input type="text" class="form-DatosP form-control mr-sm-1" placeholder="Departamento" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <input type="text" class="form-DatosP form-control mr-sm-1" placeholder="Ciudad" required>
                        </div>
                        <div class="col">
                            <input type="text" class="form-DatosP form-control mr-sm-1" placeholder="Dirección" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <input type="submit" id="registrarse" class="btn btn-outline-registro" value="Registro">
                        </div>
                        <div class="col">
                            <a href="{{url_for('login') }}" id="registrarse" class="btn btn-outline-registro"> Ya tengo cuenta </a>
                        </div>
                    </div>
                </div>

    </form>
</div>
{% endblock %}