{% extends 'index.html' %}
{% block head %}
<title>New Balance | Superadministrador</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/super_admin.css') }}">
<script src="{{ url_for ('static', filename='Js/password.js') }}"></script>
{% endblock %}

{% block contenido %}
    <div class="titulo-gestionar-usuario">
        <span class="material-icons-outlined md-40">account_circle</span>
        <h1 style="text-align: center;">GESTIÓN ADMINISTRATIVA</h1>
    </div>

    {% if formSearch %}
    <form action="{{ url_for('search_admin') }}" method="POST" class="form-inline" style="margin: auto; width: 65%;">
        {{ formSearch.hidden_tag() }}
        {{ formSearch.search(style="width: 90%;", class="form-control mr-sm-2", type="search", placeholder="Buscar Administrador") }}
        <button class="btn btn-outline-one my-2 my-sm-0" submit>Buscar</button>
    </form>
    {% endif %}

    {% if message %}
        <h2 style="text-align: center; color: #058714; margin-top: 10px">{{ message }}</h2>
    {% endif %}
    {% if error %}
        <h2 style="text-align: center; color: #970c02; margin-top: 10px">{{ error }}</h2>
    {% endif %}

    {% if form %}
    <div class="ContenedorFomulario">
        <form class="FormularioRegistro"
        {% if data_admin %}
                action="{{ url_for('edit_admin', document = data_admin.document) }}"
            {% else %}
                action="{{ url_for('create_admin') }}"
            {% endif %}
        method="POST">
            {{ form.hidden_tag() }}
            <div>
                <h2 style="text-align: center; margin-bottom: 10px; padding-top:20px;">Administrador</h2>
                <div>
                    <div class="ContenedorDP">
                        <h4>Datos del administrador</h4>
                        <hr class="hr-form">
                        <div class="row">
                            <div class="col">
                                {{ form.name(class="form-control mr-sm-1 form-DatosP", placeholder="Nombre") }}
                            </div>
                            <div class="col">
                                {{ form.last_name(class="form-control mr-sm-1 form-DatosP", placeholder="Apellidos") }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                {% if option %}
                                        {% if option == "Editar" %}
                                        {{ form.document(type="text", class="form-DatosP form-control mr-sm-1", placeholder="CC/CE/NIT", disabled=True) }}
                                        {% else %}
                                            {{ form.document(type="text", class="form-DatosP form-control mr-sm-1", placeholder="CC/CE/NIT") }}
                                        {% endif %}
                                    {%else %}
                                        {{ form.document(type="text", class="form-DatosP form-control mr-sm-1", placeholder="CC/CE/NIT") }}
                                    {% endif %}
                            </div>
                            <div class="col">
                                <div class="form-check form-check-inline">
                                    <strong>Genero:</strong>
                                </div>
                                <div class="form-check form-check-inline">
                                    {% if data_admin %}
                                        {% if data_admin.gender == "M" %}
                                            {{ form.gender(class="form-check-input", type="radio", value="M", checked="true")}}
                                        {% else %}
                                            {{ form.gender(class="form-check-input", type="radio", value="M")}}
                                        {% endif %}
                                    {% else %}
                                        {{ form.gender(class="form-check-input", type="radio", value="M")}}
                                    {% endif %}
                                    <label class="form-check-label" for="inlineRadio1">Masculino</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    {% if data_admin %}
                                        {% if data_admin.gender == "F" %}
                                            {{ form.gender(class="form-check-input", type="radio", value="F", checked="true")}}
                                        {% else %}
                                            {{ form.gender(class="form-check-input", type="radio", value="F")}}
                                        {% endif %}
                                    {% else %}
                                        {{ form.gender(class="form-check-input", type="radio", value="F")}}
                                    {% endif %}
                                    <label class="form-check-label" for="inlineRadio2">Femenino</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    {% if data_admin %}
                                        {% if data_admin.gender == "O" %}
                                            {{ form.gender(class="form-check-input", type="radio", value="O", checked="true")}}
                                        {% else %}
                                            {{ form.gender(class="form-check-input", type="radio", value="O")}}
                                        {% endif %}
                                    {% else %}
                                        {{ form.gender(class="form-check-input", type="radio", value="O")}}
                                    {% endif %}
                                    <label class="form-check-label" for="inlineRadio2">Otro</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                {{ form.nickname(class="form-control mr-sm-1 form-DatosP", placeholder="Nickname") }}
                            </div>
                            <div class="col">
                                {{ form.phone(type="number", class="form-control mr-sm-1 form-DatosP", placeholder="Teléfono") }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                {{ form.email(type="email", class="form-control mr-sm-1 form-DatosP", placeholder="Correo") }}
                            </div>
                            <div class="col">
                                {{ form.country(class="form-control mr-sm-1 form-DatosP", placeholder="País") }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                {{ form.department(class="form-control mr-sm-1 form-DatosP", placeholder="Departamento") }}
                            </div>
                            <div class="col">
                                {{ form.city(class="form-control mr-sm-1 form-DatosP", placeholder="Ciudad") }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                {{ form.address(class="form-control mr-sm-1 form-DatosP", placeholder="Dirección") }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                {{ form.password(type="password", class="form-control mr-sm-1 form-DatosP", placeholder="Contraseña", id="contrasena") }}                            
                            </div>
                            <div class="col">
                                {{ form.confirm_password(type="password", class="form-control mr-sm-1 form-DatosP", placeholder="Confirmar Contraseña", id="confirmarContrasena") }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <input type="checkbox" onclick="show_password()"> Mostrar contraseña
                            </div>
                            {% if option %}
                                {% if option == "Editar" %}
                                    <div class="col">
                                        <p style="color: #970c02;">Para editar el documento contacte a soporte</p>
                                    </div>
                                {% endif %}
                            {% endif %}
                        </div>
                        <div class="row">
                            {% if option == "Editar" %}
                            {{form.edit(class="btn btn-outline-registro", style="margin: auto;")}}
                            {% else %}
                            {{form.create(class="btn btn-outline-registro", style="margin: auto;")}}
                            {% endif %}
                        </div>
                    </div>
                </div>
        </form>
    {% endif %}
    </div>

    {% if list_admin %}
        <div class="contenedor-todos-administradores">
            <div class="titulo-tabla" style="width: 90%; margin: auto;">
                <div class="row">
                    <div class="col" style="padding: 0%;">
                        <h4 style="text-align: left; padding: 0px; margin: 0px;">Todos los Administradores</h4>
                    </div>
                    <div class="col"style="padding: 0%;">
                        <a href="{{url_for('create_admin')}}">
                            <button style="width: 40%; margin-left: 60%;" class="btn btn-outline-one my-2 my-sm-0" submit>Crear Nuevo Administrador</button>
                        </a>
                    </div>
                </div>
            </div>
            <hr style="border-color:#e74236; width: 90%;">
            <div class="tabla" style="width: 90%; margin: auto;">
                <table class="table table-striped table-hover tNuevoProducto" aria-label="desc">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Estado</th>
                            <th scope="col">Documento</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Apellidos</th>
                            <th scope="col">Correo</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for item in list_admin %}
                        <tr>
                            <th scope="row">
                                {{ loop.index }}
                            </th>
                            <td class="conEstado">
                                    {% if item.state == 'T' %}
                                    <div class="circulo-green"></div>
                                    {% endif %}
                                    {% if item.state == 'F' %}
                                    <div class="circulo-red"></div>
                                    {% endif %}
                            </td>
                            <td>{{ item.document}}</td>
                            <td>{{ item.name}}</td>
                            <td>{{ item.last_name}}</td>
                            <td>{{ item.email}}</td>
                            <td>
                                <div class="icon-derecha">
                                    <a  href="{{ url_for('edit_admin', document = item.document) }} ">
                                        <span class="material-icons-outlined iconoPosicion" >edit</span>
                                    </a>
                                </div>
                                <div class="icon-centro">
                                    <a href="{{url_for('block_admin', document = item.document)}}">
                                        <span class="material-icons-outlined iconoPosicion" id="icon_block">
                                            {% if item.state == 'F' %}
                                                lock_open
                                            {% endif %}
                                            {% if item.state == 'T' %}
                                                lock
                                            {% endif %}
                                        </span>
                                    </a>
                                </div>
                                <div class="icon-izquierda">
                                    <a href="{{url_for('delete_admin', document=item.document)}}">
                                        <span class="material-icons-outlined iconoPosicion">cancel</span>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}
{% endblock %}